mixin author(name, twitterUrl, pixivUrl)
  li
    span= name
    if twitterUrl || pixivUrl
      div.urls
        if twitterUrl
          span.url
            a(href=twitterUrl)
              | [ Twitter ]
        if pixivUrl
          span.url
            a(href=pixivUrl)
              | [ pixiv ]
