mixin author(name, twitterUrl, pixivUrl)
  li
    span= name
    if twitterUrl || pixivUrl
      div.urls
        if twitterUrl
          a(href=twitterUrl)
            | [ Twitter ]
        if pixivUrl
          a(href=pixivUrl)
            | [ pixiv ]
