:root {
  --bold-font-family:
    'TsukuARdGothicStd-D',
    sans-serif;
  --default-font-family:
    'TsukuARdGothicStd-R',
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Hiragino Sans',
    'Hiragino Kaku Gothic ProN',
    '游ゴシック  Medium',
    meiryo,
    sans-serif;
}
