.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__share {
    margin-bottom: 15px;

    .share__button {
      width: 40px;
      height: 40px;
      padding: 0 15px;
    }

    .line-it-button {
      width: 40px !important;
      height: 40px !important;
    }
  }

  &__copy {
    margin-left: 5px;
    font-size: 0.9rem;
  }
}
