section.detail
  .detail__wrapper
    .detail__content
      .detail__title
        h3.detail__heading
          | 作品タイトル
        p.detail__description
          | Have a Nice Day!
      .detail__event
        h3.detail__heading
          | 頒布イベント
        p.detail__description
          | 2018.06.03
          br
          a(href="https://komeiji-complex.org/")
            | 古明地こんぷれっくす いつつめ。
          br
          | 古-03 「じゃんだらりん。」
      .detail__price
        h3.detail__heading
          | 頒布価格
        p.detail__description
          | 1,000円（イベント頒布価格）
          br
          | 1,514円（ショップ価格／税込み）
      .detail__shop
        h3.detail__heading
          | 店舗委託
        p.detail__description
          a(href="https://www.melonbooks.co.jp/detail/detail.php?product_id=371812")
            | メロンブックス
    .detail__bg
      | Info
