section.hero
  .hero__wrapper.hero--heading
    .heading.heading--left
      h2 古明地こいし
    .heading.heading--right
      h2 十周年記念合同誌
  .hero__wrapper.hero--main
    .main--logo(
      data-aos="fade-up",
      data-aos-delay="2000"
      data-aos-duration="1000",
      data-aos-once="true"
    )
      img(src="/have-a-nice-day/images/logo.png")
    .main--chara
      img(src="/have-a-nice-day/images/chara.png")
  .hero__wrapper.hero--bg
    .bg--left
    .bg--right
