section.lead
  .lead__text(
    data-aos="fade-right",
    data-aos-delay="250",
    data-aos-duration="1000",
    data-aos-once="true"
  )
    p
      | 祝・地霊殿10周年！
      br
      | 大好きなこいしちゃんの晴れの日に18人もの作家さんが集まってくれました！
      br
      | 東方に地霊殿にこいしちゃんに出会えて本当によかった。
      br
      | 『Have a Nice Day!』今日も良い日でありますように。
