include ../mixins/author.pug
section.staff
  .staff__wrapper
    .staff__content
      .staff__author
        h3.staff__heading
          | 作家
        ul.staff__list
          +author(
            "山瀬れの",
            "https://twitter.com/mayan1915"
          )
          +author("香織")
          +author(
            "枝実子",
            "https://twitter.com/emico0928"
          )
          +author(
            "みー助",
            "https://twitter.com/drnna3poko"
          )
          +author(
            "碧瑠璃",
            "https://twitter.com/Or7No1"
          )
          +author(
            "雁",
            "https://twitter.com/kariore"
          )
          +author(
            "まるサン",
            "https://twitter.com/maruRX"
          )
          +author(
            "かぐや",
            "https://twitter.com/ka_guyaaa"
          )
          +author("miri")
          +author(
            "いちは",
            "https://twitter.com/nig_18"
          )
          +author(
            "らぱ☆",
            "https://twitter.com/_Rapa_"
          )
          +author(
            "女王陛下",
            "https://twitter.com/otm1145"
          )
          +author(
            "しろつぐみ",
            "https://twitter.com/shirotugumin"
          )
          +author(
            "おたま",
            "https://twitter.com/wotamer"
          )
          +author(
            "茶葉",
            "https://twitter.com/chabaaen"
          )
          +author(
            "安達貴族",
            "https://twitter.com/adatikizoku"
          )
          +author(
            "枚宮ファー",
            "https://twitter.com/hirafami45"
          )
    .staff__content
      .staff__director
        h3.staff__heading
          | 企画
        ul.staff__list
          +author("山瀬れの")
      .staff__web
        h3.staff__heading
          | ウェブサイト
        ul.staff__list
          +author(
            "汐瀬なぎ",
            "https://twitter.com/polyxx"
          )
    .staff__bg
      | Staff
