include ../mixins/author.pug
section.staff
  .staff__wrapper
    .staff__content
      .staff__author
        h3.staff__heading
          | 作家
        ul.staff__list
          +author(
            "山瀬れの",
            "https://twitter.com/mayan1915",
            "https://www.pixiv.net/member.php?id=636536"
          )
          +author(
            "いちは",
            "https://twitter.com/nig_18",
            "https://www.pixiv.net/member.php?id=1158614"
          )
          +author(
            "碧瑠璃",
            "https://twitter.com/Or7No1",
            "https://www.pixiv.net/member.php?id=2706292"
          )
          +author(
            "枝実子",
            "https://twitter.com/emico0928",
            "https://www.pixiv.net/member.php?id=3695106"
          )
          +author(
            "香織",
            "",
            "https://www.pixiv.net/member.php?id=1974909"
          )
          +author("甘露こんぶ")
          +author(
            "女王陛下",
            "https://twitter.com/otm1145",
            "https://www.pixiv.net/member.php?id=389885"
          )
          +author(
            "しろつぐみ",
            "https://twitter.com/shirotugumin",
            "https://www.pixiv.net/member.php?id=771055"
          )
          +author(
            "茅ヶ崎みふら",
            "https://twitter.com/ChigasakiMifura",
            "https://www.pixiv.net/member.php?id=30994249"
          )
          +author(
            "枚宮ファー",
            "https://twitter.com/hirafami45",
            "https://www.pixiv.net/member.php?id=2085692"
          )
          +author(
            "安達貴族",
            "https://twitter.com/adatikizoku",
            "https://www.pixiv.net/member.php?id=239510"
          )
          +author(
            "おたま",
            "https://twitter.com/wotamer",
            "https://www.pixiv.net/member.php?id=1193050"
          )
          +author(
            "雁",
            "https://twitter.com/kariore",
            "https://www.pixiv.net/member.php?id=87692"
          )
          +author(
            "かぐや",
            "https://twitter.com/ka_guyaaa",
            "https://www.pixiv.net/member.php?id=3031060"
          )
          +author(
            "茶葉",
            "https://twitter.com/chabaaen",
            "https://www.pixiv.net/member.php?id=13233"
          )
          +author(
            "みー助",
            "https://twitter.com/drnna3poko",
            "https://www.pixiv.net/member.php?id=2260714"
          )
          +author(
            "まるサン",
            "https://twitter.com/maruRX",
            "https://www.pixiv.net/member.php?id=3863581"
          )
          +author(
            "らぱ☆",
            "https://twitter.com/_Rapa_",
            "https://www.pixiv.net/member.php?id=541467"
          )
    .staff__content
      .staff__director
        h3.staff__heading
          | 企画
        ul.staff__list
          +author("山瀬れの")
      .staff__web
        h3.staff__heading
          | ウェブサイト
        ul.staff__list
          +author(
            "汐瀬なぎ",
            "https://twitter.com/polyxx"
          )
    .staff__bg
      | Staff
